body {
    background: radial-gradient(circle, #333, #111 80%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#portada {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #5100ff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #3700cc;
    transform: translateY(-3px);
}
